spring:
  application:
    name: traveler
  datasource:
    url: jdbc:postgresql://localhost:5432/ai-travel-assistant
    username: ${postgres-user}
    password: ${postgres-password}
    driver-class-name: org.postgresql.Driver
  ai:
    vectorstore:
      pgvector:
        index-type: hnsw
        distance-type: cosine_distance
        dimensions: 1536
        schema-validation: true
    chat:
      client:
        enabled: false
      memory:
        repository:
          jdbc:
            initialize-schema: always
            schema: classpath:sql/memory.sql
    zhipuai:
      api-key: ${ZHIPUAI_API_KEY}
      chat:
        api-key: ${ZHIPUAI_CHAT_API_KEY}
        options:
          model: ${ZHIPUAI_CHAT_MODEL}
      embedding:
        api-key: ${ZHIPUAI_EMBEDDING_API_KEY}
        options:
          model: ${ZHIPUAI_EMBEDDING_MODEL}
          dimensions: 1536
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        base-url: ${OPENAI_CHAT_BASE_URL}
        options:
          model: ${OPENAI_CHAT_MODEL}
    model:
      embedding: zhipuai
    mcp:
      client:
        sse:
          connections:
            gaoDeMcp:
              url: https://mcp.amap.com
              sse-endpoint: /sse?key=${gaode.api-key}

  data:
    redis:
      host: localhost
      database: 1
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 3MB
      resolve-lazily: true  # 延迟解析，保证MaxUploadSizeExceededException能被ExceptionHandler捕获处理

gaode:
  api-key: ${GAODE_API_KEY}
web-search:
  api-key: ${WEB_SEARCH_API_KEY}

aliyun:
  oss:
    endpoint: ${ALIYUN_OSS_ENDPOINT}
    bucket-name: ${ALIYUN_OSS_BUCKET_NAME}
    region: ${ALIYUN_OSS_REGION}

jwt:
  secret: ${JWT_SECRET}
  expire: ${JWT_EXPIRE}

mybatis-plus:
  global-config:
    db-config:
      id-type: auto
  configuration:
    default-enum-type-handler: com.bread.traveler.enums.EnumTypeHandler
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  type-handlers-package: com.bread.traveler.typehandler


# SpringDoc OpenAPI 核心配置 (Knife4j 会读取这些配置)
springdoc:
  packages-to-scan: com.bread.traveler.controller
  api-docs:
    # 是否启用 api-docs 功能，生产环境建议关闭
    enabled: true
  # Swagger UI 的配置 (Knife4j 会覆盖这个 UI，但有些配置可以共用)
  swagger-ui:
    path: /swagger-ui.html # Swagger UI 原始访问路径
# Knife4j 专属增强配置
knife4j:
  # 是否开启 Knife4j 的增强功能
  enable: false
  # Knife4j 自身的文档配置
  setting:
    # 语言选择: zh_cn | en_us
    language: zh_cn

server:
  servlet:
    context-path: /api
  tomcat:
    max-swallow-size: 30MB  # 调整吞吐大小，使得MaxUploadSizeExceededException能被正确处理并返回Result